<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="omu.dddd.infrastructure.AdventurerMapper">

    <select id="findById" resultType="omu.dddd.domain.Adventurer">
        SELECT * FROM adventurer WHERE id = #{id}
    </select>

    <select id="findAll" resultType="omu.dddd.domain.Adventurer">
        SELECT * FROM adventurer
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO adventurer
            (
            name, race,
            vitality, 
            strength, dexterity, reflex,
            intelligence, wisdom, mind, 
            agility, luck
            )
        VALUES
            (
            #{adventurer.name}, #{adventurer.race},
            #{adventurer.vitality}, 
            #{adventurer.strength}, #{adventurer.dexterity}, #{adventurer.reflex},
            #{adventurer.intelligence}, #{adventurer.wisdom}, #{adventurer.mind},
            #{adventurer.agility}, #{adventurer.luck}
            )
    </insert>

</mapper>