<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="omu.dddd.infrastructure.PartyMapper">

    <select id="findById" resultType="omu.dddd.domain.Party">
        SELECT * FROM party WHERE id = #{id}
    </select>

    <select id="findAll" resultType="omu.dddd.domain.Party">
        SELECT * FROM party
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO party (name) VALUES (#{party.name})
    </insert>

    <select id="findPartyMembersByPartyId" resultType="omu.dddd.domain.Adventurer">
        SELECT
         adventurer.* 
        FROM party_member
        JOIN adventurer ON party_member.adventurer_id = adventurer.id
        WHERE party_member.party_id = #{party_id}
    </select>

    <insert id="insertPartyMember">
        INSERT INTO party_member (party_id, adventurer_id) VALUES (#{party_id}, #{adventurer_id})
    </insert>

    <select id="findPartyMemberByPartyIdAndAdventurerId" resultType="omu.dddd.domain.Adventurer">
        SELECT
         adventurer.* 
        FROM party_member
        JOIN adventurer ON party_member.adventurer_id = adventurer.id
        WHERE party_member.party_id = #{party_id} AND party_member.adventurer_id = #{adventurer_id}
    </select>
</mapper>